.input{
    display:block;
    width: 10px;
}
input{
    width: 100px;

}

.saida{
    background-color: black;
    color: aliceblue;
    text-align: center;
    width: 200px;
    height: 25px;
    position: relative;
    left: 250px;
    border-radius: 5px;
}

.retangulo{
    position: relative;
    top:-50px;
}

.media{
    position: relative;
    top: -50px;
    
}

.x1{
    position: relative;
    top: -50px;
    
}

.x2{
    position: relative;
    top: -110px;
    
}

.possivel{
    top: -150px;
}