button{
    width: 100px;
    height: 84px;
}
.caixa{
    position: absolute;
    width: 1000px;
    height: 850px;
    left: 220px;
    top: 87px;
    
    background: #E6E6E6;
    mix-blend-mode: hard-light;
    border: 1px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div h1{
width: 403px;
height: 98px;

background: #9F9F9F;
backdrop-filter: blur(2px);
}

body{
    background: #292929;
}

.cabecalho{
box-sizing: border-box;

position: absolute;
width: 1440px;
height: 150px;
left: 0px;
top: 0px;

background: #1A1A1C;
background-blend-mode: exclusion;
mix-blend-mode: normal;
border: 1px solid #000000;
filter: blur(2px);
}
.x{
position: absolute;
left: -80px;
top: -70px;
}
.o{
    position: absolute;
    left: 80px;
    top: 20px;
}