.titulo{
    background-color: brown;
    border-radius: 15px;
    text-align: center;
    color: cornsilk;
}

.menu{
    position: absolute;
    left: -20px;
    top: 50px;
     
}
li {
    border-radius: 15px;
    background-color: darkgray;
    list-style-type: none;
    text-align: center;
  }
body{
    background-color: black;
}
div p{
    background-color: blanchedalmond;
    border-radius: 5px;
    width: 70%;
    position: relative;
    left: 20%;
}