body{
    background-color:black;
}
label{
    color: rgb(228, 228, 228);
    position: relative;
    top: 20px;
    left: 50px;
}
input{
    color: rgb(0, 0, 0);
    position: relative;
    left: 30px;
    margin: 10px;
}
form{
    background-color: rgb(85, 85, 85);
    width: 500px;
    height: 500px;
    margin-left: 10%;
    margin-right: 50%;
    margin-top: 2%;
}
table{
    background: blanchedalmond;
    margin-left: 60%;
    margin-right: auto;
    position: absolute;
    top: 5%;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}
.formulario{
    font-family: Georgia, serif;
}

.tabela_de_usuario td{
    border: 1px solid black;
}

.tabela_de_usuario th{
    border: 1px solid black;
}

.par{
    background-color: darkgray;
}
.impar{
    background-color: cornsilk;
}