body{
    background-color: rgb(70, 70, 70);
}
div{
    display: flex;
    flex-direction: column;

}
input{
    text-align: center;
}
#saida{
    background-color: black;
    width: 90%;
    height: 100px;
    margin-top: 15px;
    margin-left: 5%;
    color: aliceblue;
    text-align: center;
    font-size: 32px;
}